<?xml version="1.0"?>
<!--
/**
 * ShopGo
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category    Shopgo
 * @package     Shopgo_Core
 * @authors     Ammar <ammar@shopgo.me>
 *              Emad  <emad@shopgo.me>
 *              Ahmad <ahmadalkaid@shopgo.me>
 *              Aya   <aya@shopgo.me>
 * @copyright   Copyright (c) 2015 Shopgo. (http://www.shopgo.me)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Shopgo_Totango>
            <version>1.0.0</version>
        </Shopgo_Totango>
    </modules>
    <global>
        <helpers>
            <totango>
                <class>Shopgo_Totango_Helper</class>
            </totango>
        </helpers>
        <models>
            <totango>
                <class>Shopgo_Totango_Model</class>
            </totango>
        </models>
    </global>
    <default>
        <shopgo_totango>
            <trackers>
                <product>1</product>
                <category>1</category>
                <attribute>1</attribute>
                <shipping_payment>1</shipping_payment>
                <order>1</order>
                <admin_login>1</admin_login>
            </trackers>
        </shopgo_totango>
    </default>
</config>
